.imgContainer {
  margin: 0 10%;
  .imgs {
    margin: auto;
    height: 39vh;
    padding: 1%;
    @media (max-width: $breakpoint-phone) {
      height: 20vh;
    }
  }
  @media (max-width: $breakpoint-underhd) {
    margin: 1% 0;
    .imgs {
      height: 25vh;
    }
  }
}
