html {
  height: 100%;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 8, 0, 1);
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0.2% 10%;
  nav {
    display: flex;
    justify-content: left;
  }
  width: 80%;
  color: white;
  align-items: center;
  p {
    a {
      font-size: 2rem;
      font-weight: 600;
    }
    font-size: 1.9rem;
    font-weight: 600;
    text-align: right;
    padding: 0 2%;
  }
  a {
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0 3%;
    padding: 0.5% 0;
  }
}
.img0 {
  background: url("./styles/img/IMG_1778.JPG");
  height: 45vh;
  background-position-y: bottom;
  filter: contrast(150%) drop-shadow(0px 8px 15px black);
}
.img1 {
  background: url("./styles/img/IMG_0380.JPG");
  height: 65vh;
  background-position-y: 25%;
  width: 100%;
  filter: brightness(80%) drop-shadow(0px 8px 15px black);
}
.img2 {
  background: url("./styles/img/IMG_0331.JPG");
  height: 65vh;
  background-position-y: 25%;
  width: 100%;
  filter: contrast(125%) drop-shadow(0px 8px 15px black);
}
.homeImg {
  background-size: cover;
  background-position-y: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 45vh;
  filter: contrast(150%) drop-shadow(0px 8px 15px black);
  z-index: -1;
  width: 100%;
}
.homepageBanner {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  h3 {
    margin: 1%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 9px black;
  }
}
@mixin background($url) {
  background: linear-gradient(
      #00000070,
      #00000090,
      #00000090,
      #00000090,
      #00000070
    ),
    url($url);
  background-size: cover;
}
@mixin lighterBackground($url) {
  background: linear-gradient(
      #00000000,
      #00000040,
      #00000060,
      #00000070,
      #00000060,
      #00000040,
      #00000060
    ),
    url($url);
  background-size: cover;
}
.homeTriDesc {
  width: 80%;
  margin: 3% auto 4%;
  h2 {
    margin: 3% 0;
  }

  .triSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    color: white;
    .hospitals {
      @include background("./styles/img/IMG_0335.JPG");
    }
    .school {
      @include background("./styles/img/IMG_4081.JPG");
    }
    .floortypes {
      @include background("./styles/img/IMG_3349.JPG");
    }
    div {
      padding: 2%;
    }
    p {
      padding: 10%;
      line-height: 3.5rem;
      font-size: 1.7rem;
    }
    i {
      padding: 3%;
    }
  }
}
.spacer {
  @include lighterBackground("./styles/img/IMG_1842.JPG");
  height: 20vh;
  background-position-y: 50%;
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}
.weDoMore {
  width: 80%;
  margin: 3% auto;
  .gridHolder {
    color: rgb(255, 255, 255);
    display: grid;
    height: 150vh;
    gap: 1%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 4rem;
        text-shadow: 0 0 15px black;
      }
    }
  }
  .gridHolder .ceramic {
    grid-area: 3/3/5/5;
    background-position-y: 90%;
    // @include lighterBackground("./styles/img/IMG_1800.JPG");
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    h2 {
      grid-area: 2/1/4/4;
      z-index: 1;
    }
    div {
      width: 100%;
      height: 100%;
      border: 1px solid white;
    }
    .subCeramic0 {
      @include lighterBackground("./styles/img/IMG_2378.JPG");
      grid-area: 1/1/3/3;
      background-position-y: 60%;
    }
    .subCeramic1 {
      @include lighterBackground("./styles/img/IMG_1800.JPG");
      grid-area: 3/1/5/3;
      background-position-y: 50%;
    }
  }
  .vct {
    grid-area: 5/1/6/2;
    @include lighterBackground("./styles/img/IMG_4597.JPG");
    background-position-y: 90%;
  }
  .flashcove {
    grid-area: 1/2/2/3;
    @include lighterBackground("./styles/img/IMG_4417.JPG");
    background-position-y: 75%;
    background-position-x: 50%;
    background-size: 200%;
  }
  .leveling {
    grid-area: 4/1/5/2;
    background-position-y: 90%;
    @include lighterBackground("./styles/img/IMG_4616.JPG");
  }
  .mrs {
    grid-area: 1/1/2/2;
    background-position-y: 90%;
    @include lighterBackground("./styles/img/IMG_0376.JPG");
  }
  .shotblast {
    grid-area: 2/1/4/3;
    flex-direction: column;
    @include lighterBackground("./styles/img/IMG_3439.JPG");
  }
  .carpet {
    grid-area: 4/2/5/3;
    @include lighterBackground("./styles/img/IMG_3328.JPG");
    background-position-y: bottom;
    background-position-x: right;
    background-size: 150%;
  }
  .bronco {
    grid-area: 1/3/3/4;
    @include lighterBackground("./styles/img/IMG_3439.JPG");
    background-position-x: 60%;
    display: flex;
    flex-direction: column;
  }
  .vynal {
    @include lighterBackground("./styles/img/IMG_0481.JPG");
    grid-area: 1/4/3/5;
    background-position-x: center;
  }
  .nora {
    @include lighterBackground("./styles/img/IMG_4186.JPG");
    grid-area: 5/2/6/4;
    background-position-y: 50%;
  }
  .more {
    @include lighterBackground("./styles/img/IMG_4012.JPG");
    grid-area: 5/4/6/5;
    display: flex;
    flex-direction: column;
    background-position-y: bottom;
  }
}
.footer {
  color: white;
  padding: 1% 0;
  bottom: 0;
  a {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
  }
  div {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto 1%;
  }
  background-color: rgba(255, 8, 0, 1);
}

.contact {
  div {
    padding: 1%;
  }
  .businessHours {
    address {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
      padding: 1%;
      margin: 0 0 1%;

      p {
        margin: 0;
      }
    }
  }
  .flex {
    display: flex;
    justify-content: center;
    .form {
      width: 30%;
      display: grid;
    }
    .field {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
    input,
    textarea {
      width: 23vw;
    }
    label {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  h3,
  h4 {
    margin: 0;
  }
}
